In [77]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

# Import dataset

In [78]:
data = pd.read_csv('historical_view_ideal.csv',).fillna('')
data.head(10)

   sku  run_rate  ads  promo  sales  class        Note
0   11        10    0      0     10      1  ads_driven
1   11        10    1      0     15      1  ads_driven
2   11        10    0      1     10      1  ads_driven
3   11        10    1      1     15      1  ads_driven
4   12       100    0      0    100      1  ads_driven
5   12       100    1      0    150      1  ads_driven
6   12       100    0      1    100      1  ads_driven
7   12       100    1      1    150      1  ads_driven
8   13       300    0      0    300      1  ads_driven
9   13       300    1      0    450      1  ads_driven

In [79]:
data = data.astype({'sku': 'int', 
                    'run_rate': 'int', 
                    'ads': 'int', 
                    'promo': 'int', 
                    'sales': 'int'})

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sku       72 non-null     int64
 1   run_rate  72 non-null     int64
 2   ads       72 non-null     int64
 3   promo     72 non-null     int64
 4   sales     72 non-null     int64
 5   class     72 non-null     int64
 6   Note      72 non-null     object
dtypes: int64(6), object(1)
memory usage: 4.1+ KB

# Generate dataset

# Train / test split

X_train, X_test, y_train, y_test = train_test_split(
    data_train[['sku','run_rate', 'ads', 'promo', 'sales']].to_numpy(),
    np.asarray(data_train[['class']]).astype(int),
    test_size = 0.20)

# Modelling

In [103]:
from sklearn.neural_network import MLPClassifier

clf_mlp = MLPClassifier()
clf_mlp.fit(X_train, y_train)
clf_mlp.score(X_test, y_test)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

0.625

In [108]:
from sklearn import svm

clf_svc = svm.SVC()
clf_svc.fit(X_train, y_train)
clf_svc.score(X_test, y_test)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0.625