In [11]:
# Bigger dataset available here http://s3.amazonaws.com/hr-testcases-us-east-1/329/assets/bigger_data_set.txt

The first line contains three space separated numbers m k d.
* m - the amount of money you could spend that day.
* k - the number of different stocks available for buying or selling.
* d - the number of remaining days for trading stocks.

k lines follow, each in the following format: name owned prices
* name - the name of the stock (a string).
* owned - the number of shares you own of that stock.
* prices - 5 space separated numbers representing the stock's price for the last 5 days. These are ordered from oldest to newest, so the last number is the current stock price.

Sample input

90 2 400

iStreet 10 4.54 5.53 6.56 5.54 7.60

HR 0 30.54 27.53 24.42 20.11 17.50

In [32]:
import pandas as pd

In [21]:
# Take first line of input, it contains useful info.
info = input().split()
m = float(info[0])
k = int(info[1])
d = int(info[2])

90 2 400

In [61]:
# Create a dataframe to store the input information

df = pd.DataFrame(columns=['name', 'owned', 1, 2, 3, 4, 5])

In [62]:
df['name'] = df['name'].astype(str)
df['owned'] = df['owned'].astype(float)
for i in range(1,5+1):
    df[i] = df[i].astype(float)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 7 columns):
name     0 non-null object
owned    0 non-null float64
1        0 non-null float64
2        0 non-null float64
3        0 non-null float64
4        0 non-null float64
5        0 non-null float64
dtypes: float64(6), object(1)
memory usage: 0.0+ bytes

In [65]:
inpt = [input().split() for line in range(k)]

iStreet 10 4.54 5.53 6.56 5.54 7.60
HR 0 30.54 27.53 24.42 20.11 17.50

In [72]:
inpt

[['iStreet', '10', '4.54', '5.53', '6.56', '5.54', '7.60'],
 ['HR', '0', '30.54', '27.53', '24.42', '20.11', '17.50']]

In [70]:
df.append(inpt, ignore_index=True)

         0   1      2      3      4      5      6 name  owned
0  iStreet  10   4.54   5.53   6.56   5.54   7.60  NaN    NaN
1       HR   0  30.54  27.53  24.42  20.11  17.50  NaN    NaN

In [71]:
df

Empty DataFrame
Columns: [name, owned, 1, 2, 3, 4, 5]
Index: []