In [1]:
import pandas as pd

data = pd.read_csv('input01.txt')

In [4]:
data

      500
0    1339
1    1462
2    1702
3    1656
4    1439
..    ...
495  1341
496  1679
497  1823
498  1845
499  1921

[500 rows x 1 columns]

# Look into FFT and ourier analysis for time series prediction.