In [44]:
import pandas as pd

In [46]:
data = pd.read_csv('historical_view_ideal.csv',).fillna('')
data.head(10)

   sku  ads  promo  sales class        Note
0   11    0      0     10     1  ads_driven
1   11    1      0     15     1  ads_driven
2   11    0      1     10     1  ads_driven
3   11    1      1     15     1  ads_driven
4   12    0      0    100     1  ads_driven
5   12    1      0    150     1  ads_driven
6   12    0      1    100     1  ads_driven
7   12    1      1    150     1  ads_driven
8   13    0      0    300        ads_driven
9   13    1      0    450        ads_driven

In [47]:
data = data.astype({'sku': 'category', 
                    'ads': 'category', 
                    'promo': 'category', 
                    'sales': int, 
                    'class': 'category'})

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sku     36 non-null     category
 1   ads     36 non-null     category
 2   promo   36 non-null     category
 3   sales   36 non-null     int64
 4   class   36 non-null     category
 5   Note    36 non-null     object
dtypes: category(4), int64(1), object(1)
memory usage: 1.6+ KB